version: '3'
services:
  server:
    build:
      context: ./app
      dockerfile: Dockerfile
    command: uvicorn main:app --host 0.0.0.0 --port 80
    ports:
      - 80:80
    env_file:
      - .env
    restart: always
